[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
inject = "*"
uwsgi = "*"

[dev-packages]
pytest = "*"
python-dotenv = "*"
pylint = "*"

[requires]
python_version = "3.9"
